/*div{
  font-family: Helvetica, sans-serif;
  color: orange;
}*/
/*
$fontStack:Helvetica, sans-serif;
$primaryColor: red;

body {
  font-family: $fontStack;
  color: $primaryColor;
}*/

html{
  width: 100%;
  height: 100%;
  body{
    @extend html;
    margin: 0;
    div{
      $width:100px;
      $height:100px;
    }
  }
}


